[Unit]
Description=Periodically check for easylab-web updates

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Unit=easylab-check-updates.service

[Install]
WantedBy=timers.target
